aiohttp==0.21.6
beautifulsoup4==4.4.1
chardet==2.3.0
dateparser==0.4.0
fuzzywuzzy==0.10.0
jdatetime==1.8.1
pycparser==2.14
python-dateutil==2.5.3
python-Levenshtein==0.12.0
pytz==2016.4
PyYAML==3.11
regex==2016.6.14
requests==2.10.0
ruamel.yaml==0.11.11
six==1.10.0
umalqurra==0.2
websockets==3.1
google-api-python-client
asyncio_redis
isodate
irc3
aiofiles
# To install discord do pip install -U discord.py
